*{
  margin: 0px;
  padding: 0px;
}
body{
  font-size: 120%;
  background: #f8f8ff
}
.header{
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5f9ea0;
  text-align: center;
  border: 1px solid #b0c4de;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content{
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group{
  margin: 10px 0px 10px 0px;
  margin-left: 110px;
}
.input-group label{
  display: block;
  text-align: center;
  margin: 3px
}
.input-group label{
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;

}
.btn{
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5f9ea0;
  border: none;
  border-radius: 5px;
  margin-left: 170px;
}
#member{
  text-align: center;
}
.error{
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
}
.success{
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
